#include<iostream>
using namespace std;

enum VehicleType { CarType, PickupType };

class Car {
public:
    int id;
    string brand;
    string model;
    int year;

    void drive() {
        cout << "Driving a car..." << endl;
    }

    void playRadio() {
        cout << "Playing car radio..." << endl;
    }
};

class Pickup {
public:
    int id;
    string brand;
    string model;
    int loadCapacity;

    void drive() {
        cout << "Driving a pickup truck..." << endl;
    }

    void tow() {
        cout << "Towing with the pickup..." << endl;
    }
};

class VehicleService : public Car, public Pickup {
public:
    void drive(VehicleType type) {
        switch (type)
        {
        case CarType:
            Car::drive();
            break;
        case PickupType:
            Pickup::drive();
            break;
        default:
            cout << "Unknown vehicle type." << endl;
            break;
        }
    }
};

void main() {
    VehicleService vehicle;

    vehicle.drive(CarType);      
    vehicle.playRadio();         
    vehicle.tow();               

}
